*,
::after,
::before { -moz-box-sizing: border-box; box-sizing: border-box }
.picker-wrap { width: 95vw; max-width: 350px }
.picker-box { font-family: 'LatoWebMedium'; width: 100%; padding: 10px 16px; padding: .625rem 1rem; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none }
.picker-footer,
.picker-header { font-size: 21.33px; font-size: 1.333rem; line-height: 40px; line-height: 2.5rem; display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; height: 40px; height: 2.5rem; width: 100% }
.picker-header { height: 5.5rem; }
.picker-header-nav { position: relative; cursor: pointer; width: -webkit-calc(100% / 8); width: -moz-calc(100% / 8); width: calc(100% / 8) }
.picker-header-nav>* { position: absolute; top: 50%; right: auto; bottom: auto; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%) }
.picker-header-nav .nav-next::before,
.picker-header-nav .nav-prev::before { content: " "; border-top: .5em solid transparent; border-bottom: .5em solid transparent; border-right: .75em solid #000; width: 0; height: 0; display: block; margin: 0 auto }
.picker-header-nav .nav-next::before { border-right: 0; border-left: .75em solid #000}
.picker-header-content {
 width: -webkit-calc(100% * 6 / 8);
 width: -moz-calc(100% * 6 / 8);
 width: calc(100% * 6 / 8); text-align: center; padding: 11px 0px 0px 0px; }
.picker-header-content .month { font-size: 28.45px; font-size: 1.778rem; line-height: 40px; line-height: 2.5rem; margin-right: 8px; margin-right: .5rem; font-weight: 700 }
.picker-header-content .year { font-style: italic; color: #999 }
.picker-calendar { width: 100% }
.picker-calendar .picker-calendar-row { display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 100%; margin-bottom: 10px; margin-bottom: .625rem }
.picker-calendar .picker-weekday { font-weight: 700; text-align: left; color: #999; width: -webkit-calc(100% / 7); width: -moz-calc(100% / 7); width: calc(100% / 7) }
.picker-calendar .picker-day { font-size: 21.33px; font-size: 1.333rem; line-height: 40px; line-height: 2.5rem; position: relative; height: 40px; height: 2.5rem; text-align: center; cursor: pointer; width: -webkit-calc(100% / 7); width: -moz-calc(100% / 7); width: calc(100% / 7) }
.picker-calendar .picker-day:hover { background: #00a99d; color: #fff; }
.picker-calendar .out-focus { color: #ddd }
.picker-calendar .out-focus:hover { color: #000 }
.picker-calendar .selected { background: #00a99d; color: #fff; }
.picker-calendar .selected:hover { background: #00a99d; color: #fff; }
.picker-calendar .today::before { content: " "; position: absolute; top: 2px; right: 2px; width: 0; height: 0; border-top: .5em solid #00a99d; border-left: .5em solid transparent }
.picker-footer { cursor: pointer }
.picker-footer .picker-action { text-align: center; width: -webkit-calc(100% / 3); width: -moz-calc(100% / 3); width: calc(100% / 3) }
.picker-footer .picker-action:hover { background: #00a99d; color: #fff; }
.picker-footer .picker-action .text { padding-left: 12.8px; padding-left: .8rem }
.picker-footer .action-clear::before,
.picker-footer .action-close::before,
.picker-footer .action-today::before { content: " "; position: relative; display: inline-block; height: 0; width: 0 }
.picker-footer .action-today::before { border-top: .66em solid #00a99d; border-left: .66em solid transparent }
.picker-footer .action-clear::before { top: -8px; top: -.5rem; width: 16px; width: 1rem; border-top: 3px solid #e20 }
.picker-footer .action-close::before { width: 16px; width: 1rem; height: 16px; height: 1rem; background: -webkit-linear-gradient(top, transparent 35%, #777 35%, #777 65%, transparent 65%), -webkit-linear-gradient(left, transparent 35%, #777 35%, #777 65%, transparent 65%); background: -moz-linear-gradient(top, transparent 35%, #777 35%, #777 65%, transparent 65%), -moz-linear-gradient(left, transparent 35%, #777 35%, #777 65%, transparent 65%); background: linear-gradient(to bottom, transparent 35%, #777 35%, #777 65%, transparent 65%), linear-gradient(to right, transparent 35%, #777 35%, #777 65%, transparent 65%); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg) }

.disable{pointer-events:none; color: #bcbcbc;}